
<div class="row">
    <div class="col-6">
        <span>Toppings</span>
    </div>
    <div class="col-6">
        <div>Pizza Size</div>
        <select [(ngModel)]="TempPizzaSize">
            <option *ngFor="let pizzaSize of Menu.PizzaSizes" [ngValue]="pizzaSize">
                {{pizzaSize.Size}} (${{pizzaSize.Price}})
            </option>
        </select>
    </div>
</div>
<div *ngFor="let toppingOption of ToppingOptions" class="row">
    <div class="col-6">
        {{toppingOption.Topping.Name}} (${{toppingOption.Topping.Price}})
    </div>
    <div class="col-6">
        <input name="toppings" type="checkbox" value="{{toppingOption.Topping.Name}}" [(ngModel)]="toppingOption.checked" (change)="onToppingChange(toppingOption.Topping, $event)"/>
    </div>
</div>
<div class="offer row">
    <div class="col-6">
        Offer
    </div>
    <div>
        <div class="radio" *ngFor="let offerOption of OfferOptions">
            <label>
                <input type="radio"
                        [value]="offerOption.Offer.OfferID"
                        [checked]="offerOption.Offer.selected"
                        [attr.disabled]="offerOption.disabled"
                        [(ngModel)]="SelectedOffer"
                        (change)="onOfferSelectionChange(offerOption, $event)"
                        name="Offer">Offer {{offerOption.Offer.OfferID}}
            </label>
        </div>
    </div>
</div>
<div class="add-button row">
    <div class="col-6">

    </div>
    <div class="col-6">
        <input type="button" (click)="onAddPizza()" value="Add Pizza">
    </div>
</div>

<div class="pizza-list row">
    <div class="col-12">
        <div *ngFor="let myPizza of MyPizzas">
            <span (click)="removePizza(myPizza)" style="margin-right:10px;cursor:pointer">X Remove</span>
            <span style="color:red">{{myPizza.PizzaSize.Size}}</span>
            <span style="color:blue; margin-left:20px" *ngFor="let topping of myPizza.Toppings">{{topping.Name}}&nbsp;</span>
            <span style="color:green">${{getPizzaPrice(myPizza)}}</span>
            <hr/>
        </div>
    </div>
</div>